@{
    ViewData["Title"] = "Админ панель";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в Админ панель автосервиса</h1>
    <p>Здесь вы можете управлять заказами, ремонтом автомобилей, а также контролировать работу сотрудников.</p>
</div>

