@{
    ViewData["Title"] = "Политика конфиденциальности";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<div class="container">
    <h3>Политика конфиденциальности</h3>

    <p>В нашем автосервисе мы ценим и уважаем конфиденциальность информации о наших клиентах и их автомобилях. В целях защиты личных данных наших клиентов мы принимаем все необходимые меры для обеспечения безопасности информации и предотвращения ее разглашения.</p>

    <h4>Обязанности сотрудников</h4>
    <p>Все сотрудники автосервиса "12 Танго" обязаны соблюдать строгие правила конфиденциальности. Они не имеют права разглашать информацию о номере автомобиля, владельце или любых других данных, связанных с ремонтом или обслуживанием автомобилей. Любое раскрытие этой информации без разрешения клиента является нарушением политики конфиденциальности и может привести к дисциплинарным мерам, включая увольнение.</p>

    <h4>Сбор и использование данных</h4>
    <p>Мы собираем и храним только те данные, которые необходимы для выполнения услуг, таких как информация о машине (марка, модель, год выпуска, номер автомобиля), а также данные о проведенных работах и расходах на ремонт. Все данные используются исключительно для выполнения наших обязательств перед клиентами и обеспечения качества обслуживания.</p>

    <h4>Безопасность данных</h4>
    <p>Мы используем современные методы защиты данных, чтобы предотвратить несанкционированный доступ, изменение или уничтожение информации. Все записи и документы, содержащие личные данные, хранятся в надежных системах с ограниченным доступом.</p>

    <h4>Изменения в политике конфиденциальности</h4>
    <p>Мы оставляем за собой право в любое время вносить изменения в нашу политику конфиденциальности. В случае изменений на нашем сайте будет размещена актуальная версия документа, и пользователи будут уведомлены о любых значимых изменениях в порядке обработки личных данных.</p>

    <p>Если у вас возникли вопросы относительно нашей политики конфиденциальности, не стесняйтесь связаться с нами. Мы всегда готовы предоставить дополнительные разъяснения и гарантировать защиту ваших данных.</p>
</div>
